<div id="Mantenimiento">
{{if (not myNotif['Mantenimiento']):}}
                    <center>
                        <div class="alert-box notification_list warning ">
                            No existen notificaciones recientes para esta categoría.
                        </div>
                    </center>
                {{else:}}
                    <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Truncated_Bar_Graph.svg/2000px-Truncated_Bar_Graph.svg.png" width="100%">-->
                    {{ for x in myNotif['Mantenimiento']: }}
                        <a href="http://www.google.com"><div class="alert-box notification_list noPng "><span><i class="{{=x['icon']}} notif_icon"></i>{{=x['ntype']}}</span>{{=x['texto']}}</div></a>
                    {{pass}}
                {{pass}}
</div>

<div id="Proyectos">
{{if (not myNotif['Proyectos']):}}
                    <center>
                        <div class="alert-box notification_list warning ">
                            No existen notificaciones recientes para esta categoría.
                        </div>
                    </center>
                {{else:}}
                    <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Truncated_Bar_Graph.svg/2000px-Truncated_Bar_Graph.svg.png" width="100%">-->
                    {{ for x in myNotif['Proyectos']: }}
                        <a href="http://www.google.com"><div class="alert-box notification_list noPng "><span><i class="{{=x['icon']}} notif_icon"></i>{{=x['ntype']}}</span>{{=x['texto']}}</div></a>
                    {{pass}}
                {{pass}}
</div>

<div id="Planeacion">
{{if (not myNotif['Planeación']):}}
                    <center>
                        <div class="alert-box notification_list warning ">
                            No existen notificaciones recientes para esta categoría.
                        </div>
                    </center>
                {{else:}}
                    <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Truncated_Bar_Graph.svg/2000px-Truncated_Bar_Graph.svg.png" width="100%">-->
                    {{ for x in myNotif['Planeación']: }}
                        <a href="http://www.google.com"><div class="alert-box notification_list noPng "><span><i class="{{=x['icon']}} notif_icon"></i>{{=x['ntype']}}</span>{{=x['texto']}}</div></a>
                    {{pass}}
                {{pass}}
</div>

<div id="Administracion">
{{if (not myNotif['Administración']):}}
                    <center>
                        <div class="alert-box notification_list warning ">
                            No existen notificaciones recientes para esta categoría.
                        </div>
                    </center>
                {{else:}}
                    <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Truncated_Bar_Graph.svg/2000px-Truncated_Bar_Graph.svg.png" width="100%">-->
                    {{ for x in myNotif['Administración']: }}
                        <a href="http://www.google.com"><div class="alert-box notification_list noPng "><span><i class="{{=x['icon']}} notif_icon"></i>{{=x['ntype']}}</span>{{=x['texto']}}</div></a>
                    {{pass}}
                {{pass}}
</div>

<div id="AtencionInspeccion">
{{if (not myNotif['Atención e Inspección']):}}
                    <center>
                        <div class="alert-box notification_list warning ">
                            No existen notificaciones recientes para esta categoría.
                        </div>
                    </center>
                {{else:}}
                    <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Truncated_Bar_Graph.svg/2000px-Truncated_Bar_Graph.svg.png" width="100%">-->
                    {{ for x in myNotif['Atención e Inspección']: }}
                        <a href="http://www.google.com"><div class="alert-box notification_list noPng "><span><i class="{{=x['icon']}} notif_icon"></i>{{=x['ntype']}}</span>{{=x['texto']}}</div></a>
                    {{pass}}
                {{pass}}
</div>

<div id="Global">
{{if (not myNotif['Global']):}}
                    <center>
                        <div class="alert-box notification_list warning ">
                            No existen notificaciones recientes para esta categoría.
                        </div>
                    </center>
                {{else:}}
                    <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Truncated_Bar_Graph.svg/2000px-Truncated_Bar_Graph.svg.png" width="100%">-->
                    {{ for x in myNotif['Global']: }}
                        <a href="http://www.google.com"><div class="alert-box notification_list noPng "><span><i class="{{=x['icon']}} notif_icon"></i>{{=x['ntype']}}</span>{{=x['texto']}}</div></a>
                    {{pass}}
                {{pass}}
</div>