{{extend 'layout.html'}}

{{block content}}

<!-- need to source this in any view which has a LOAD chart -->
<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<script src="{{=URL('static','Stadistics/stadistics.js')}}"></script>

<script>

  function populateAreas() {
    var areas = {{=XML(areas)}}
    var area_element = document.getElementById("AreaSelect");
    for (area in areas) {
        console.log("AREAAAAAAAAAAA", area);
        option = document.createElement('option');
        option.value = areas[area];
        option.textContent = areas[area];
        area_element.appendChild(option);
    }
  }

  function populateMonths() {
      var months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
      var month_element = document.getElementById("MonthSelect");
      for (month in months) {
          option = document.createElement('option');
          option.value = months[month];
          option.textContent = months[month];
          month_element.appendChild(option);
      }
  }

  function populateYears() {
      var maxYear = new Date().getFullYear();
      var minYear = maxYear - 9;
      year_element = document.getElementById("YearSelect");
      for (i = minYear; i <= maxYear; i++) {
          option = document.createElement('option');
          // if (i == minYear-1) {
          //   option.value = "-- Select --";
          //   option.textContent = "-- Select --";
          // } else {
            option.value = i;
            option.textContent = i;
          // }
          year_element.appendChild(option);
      }
  }

  window.onload = function(){
    populateAreas();
    populateMonths();
    populateYears();
  }

</script>

<body>

<!-- <div class="btn-group">
 <div class="btn-group">
    <button onclick="populateMonths()" type="button" class="btn btn--- Select -- dropdown-toggle" data-toggle="dropdown">
      Mes
    </button>
    <ul class="dropdown-menu" role="menu" id="MonthSelect">

    </ul>
  </div>

  <div class="btn-group">
    <button onclick="populateYears()" type="button" class="btn btn--- Select -- dropdown-toggle" data-toggle="dropdown">
     Año
    </button>
    <ul class="dropdown-menu" role="menu" id="YearSelect">
    </ul>
  </div>

</div> -->

<form enctype="multipart/form-data" action="{{=URL('estadisticas', 'setMonthYearArea')}}" method="post">

  <select name="month" id="MonthSelect">
  </select>

  <select name="year" id="YearSelect">
  </select>

  <select name="area" id="AreaSelect">
  </select>

  <input type="submit"></input>

  {{if len(request.args) == 0 :}}
  <a href='/{{=request.application}}/{{=request.controller}}/get_pdf'
                                       class="fa fa-lg fa-print yellow" title="Imprimir Estadisticas"></a>
  {{else:}}
  <a href='/{{=request.application}}/{{=request.controller}}/get_pdf/{{=request.args[0]}}/{{=request.args[1]}}'
                                       class="fa fa-lg fa-print yellow" title="Imprimir Estadisticas"></a>

  {{pass}}
</form>



</body>


<!-- Here, data and options same for both charts -->
<!-- user_signature works if using logged-in users ... not well tested -->
{{
  args = request.args
  title = 'Relacion de Solicitudes de Mantenimiento de Planta Fisica ('
  if len(args) > 0:
    data = {
      'year': args[0],
      'month': args[1],
      'area': args[2]
    }
    title += str(args[1]) + ', ' + str(args[0]) + ', ' + args[2] + ')'
  else:
    data = {}
    title += 'totales)'
  pass

  data_url = URL('plugin_google_chart','plugin_return_data.json', user_signature=True)
  submitted_data_url = URL('plugin_google_chart','plugin_return_data.json',user_signature=True, vars=dict(data))
  #options are documented at https://developers.google.com/chart/
  options ={'title': title,'width':800,'height':400}

}}

<div class="span6">
{{if len(args) == 0:}}
  {{=LOAD('plugin_google_chart','plugin_google_chart.load',user_signature=True,ajax=True,
      vars={'type':'column','data_url':data_url,'options_dict':options})
  }}
{{else:}}
  {{=LOAD('plugin_google_chart','plugin_google_chart.load',user_signature=True,ajax=True,
      vars={'type':'column','data_url':submitted_data_url,'options_dict':options})
  }}
{{pass}}
</div>

{{end}}