{{extend 'layout.html'}}

{{block content}}
<style>
requerimiento {
    width: 10em;
    border: 0px solid #000000;
    word-wrap: break-word;
}
</style>
            <div class="container-fluid">
                <div class="row">
                   <div class="col-lg-12 rounded_border" >
                        <div class="rounded2" >
                            <center>
                                <div class="row">
                                        <div class="col-sm-12">
                                            <h3>Datos Solicitud</h3>
                                            <hr WIDTH="30%">
                                            <br>
                                        </div>
                                </div>
                                <br>
                           </center>

                            {{ if (solicitud != None): }}
                            <div class="row">
                                <div class="col-sm-1">
                                    <a href='/{{=request.application}}/{{=request.controller}}/get_pdf/{{=solicitud.id}}' class="notif_link_but" title="Imprimir Solicitud {{=solicitud.id}}"> <i class="fa fa-lg fa-print"></i>Imprimir</a>
                                </div>
                                <div class="col-sm-1">
                                    <a href='/{{=request.application}}/{{=request.controller}}/modificar/{{=solicitud.id}}' class="notif_link_but" title="Modificar Solicitud {{=solicitud.id}}"><i class="fa fa-lg fa-pencil-square-o"></i> Editar</a>
                                </div>
                            </div>

                           <br>
                           <div class="row">
                                <div class="row">
                                    <div class="form-group">
                                         <div class="row">
                                            <label class="control-label col-sm-2 col-sm-offset-2" style="text-align:right;">Prioridad:</label>
                                            <p class="form-control-static col-sm-7"> {{=solicitud.prioridad.nombre_prioridad if solicitud.prioridad else 'Por Asignar'}}</p>
                                        </div>
                                   </div>
                                   <div class="form-group">
                                         <div class="row">
                                            <label class="control-label col-sm-2 col-sm-offset-2" style="text-align:right;">Fecha:</label>
                                            <p class="form-control-static col-sm-7"> {{=solicitud.fecha_realizacion}}</p>
                                        </div>
                                   </div>
                                   <div class="form-group">
                                         <div class="row">
                                            <label class="control-label col-sm-2 col-sm-offset-2" style="text-align:right;">Area:</label>
                                            <p class="form-control-static col-sm-7">{{=solicitud.area.nombre_area if solicitud.area else 'Por Asignar' }}</p>
                                        </div>
                                   </div>
                                    <div class="form-group">
                                         <div class="row">
                                            <label class="control-label col-sm-2 col-sm-offset-2" style="text-align:right;">Tipo:</label>
                                            <p class="form-control-static col-sm-7">{{=solicitud.tipo if solicitud.tipo else 'Por Asignar' }}</p>
                                        </div>
                                   </div>
                                   <div class="form-group">
                                         <div class="row">
                                            <label class="control-label col-sm-2 col-sm-offset-2" style="text-align:right;">Unidad:</label>
                                            <p class="form-control-static col-sm-7">{{=solicitud.unidad.nombre_unidad}}</p>
                                        </div>
                                   </div>
                                   <div class="form-group">
                                         <div class="row">
                                            <label class="control-label col-sm-2 col-sm-offset-2" style="text-align:right;">Contacto:</label>
                                            <p class="form-control-static col-sm-7">{{=solicitud.info_contacto}}</p>
                                        </div>
                                   </div>
                                   <div class="form-group">
                                         <div class="row">
                                            <label class="control-label col-sm-2 col-sm-offset-2" style="text-align:right;">Edificio::</label>
                                            <p class="form-control-static col-sm-7">{{=solicitud.edificio.nombre_edificio}}</p>
                                        </div>
                                   </div>
                                    <div class="form-group">
                                         <div class="row">
                                            <label class="control-label col-sm-2 col-sm-offset-2" style="text-align:right;">Espacio:</label>
                                            <p class="form-control-static col-sm-7">{{=solicitud.espacio.espacio}}</p>
                                        </div>
                                   </div>
                                   {{ if (solicitud.telefono!= None): }}
                                       <div class="form-group">
                                             <div class="row">
                                                <label class="control-label col-sm-2 col-sm-offset-2" style="text-align:right;">Teléfono:</label>
                                                <p class="form-control-static col-sm-7">{{=solicitud.telefono}}</p>
                                            </div>
                                       </div>
                                   {{pass}}
                                    {{ if (solicitud.requerimiento != ""): }}
                                       <div class="form-group">
                                             <div class="row">
                                                <label class="control-label col-sm-2 col-sm-offset-2" style="text-align:right;">Requerimiento:</label>
                                                <p class="form-control-static col-sm-7 requerimiento">{{=solicitud.requerimiento}}</p>
                                            </div>
                                       </div>
                                   {{pass}}
                                </div>
                            {{ pass }}
                          </div>
                       </div>
                    </div>
                </div>
            </div>
{{end}}
