{{ extend 'layout.html' }}

{{ block head }}
<!-- Custom DataTables plugin -->
<link rel="stylesheet" type="text/css" href="{{=URL('static','DataTables/datatables.css')}}">
{{ end }}

{{block page_js}}
<!-- Custom DataTables plugin -->
<script src="{{=URL('static','DataTables/datatables.js')}}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#tabla_empleados').DataTable( {

            responsive: true,
            "language": {
                search:         "Buscar:",
                searchPlaceholder: "",
                lengthMenu:     "Mostrar _MENU_ entradas",
                info:           "Mostrando _START_ a _END_ de _TOTAL_ entradas.",
                infoEmpty:      "Mostrando 0 a 0 de 0 entradas",
                infoFiltered:   "(filtradas de _MAX_ entradas en total)",
                infoPostFix:    "",
                loadingRecords: "Carga en curso...",
                zeroRecords:    "No se encontraron empleados que concuerden con su busqueda",
                emptyTable:     "No hay informacion disponible en la tabla",
                processing:     "Procesando...",
                paginate: {
                    first:      "Primero",
                    previous:   "Anterior",
                    next:       "Siguiente",
                    last:       "Ultimo"
                },
                aria: {
                    sortAscending:  ": Se ordenan las columnas por orden creciente",
                    sortDescending: ": Se ordenan las columnas por orden decreciente"
                }
            },

            "columns": [
                {"width" : "30%"},
                { "orderable": false },
                { "orderable": false },
                null,
                null,
                { "orderable": false },
                { "orderable": false }
            ]
        } );
    } );
</script>
{{end page_js}}

{{ block content }}

<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 rounded_border" >
            <div class="row">
                <center>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Empleados</h3>
                            <hr WIDTH="30%" />
                            <p>Listado de Empleados</p>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <!-- Filters -->
                            <div class="col-xs-3 col-xs-offset-0 col-sm-2 col-sm-offset-4 col-md-offset-7 col-md-1 col-lg-offset-8">
                                <a class="notif_link_but " title="Empleados Activos" role='button' 
                                       href="{{=URL('empleados', 'listar/activos')}}">
                                    <i class="fa fa-user fa-fw fa-2x yellow "></i>
                                </a>
                            </div>
                            <div class="col-xs-3 col-sm-2 col-md-1 ">
                                <a class="notif_link_but" title="Empleados Inactivos" role='button' 
                                       href="{{=URL('empleados', 'listar/inactivos')}}">
                                    <i class="fa fa-user-times fa-fw fa-2x yellow"></i>
                                </a>
                            </div>
                            <div class="col-xs-3 col-sm-2 col-md-1 ">
                                <a class="notif_link_but" title="Todos los Empleados" role='button' 
                                       href="{{=URL('empleados', 'listar')}}">
                                    <i class="fa fa-users fa-fw fa-2x yellow"></i>
                                </a>
                            </div>

                            <!-- Add New Materials -->
                            <div class="col-xs-3 col-sm-2 col-md-1 ">
                                <a class="notif_link_but" title="Agregar Empleado" role='button' 
                                       href="{{=URL('empleados', 'agregar')}}">
                                    <i class="fa fa-plus fa-fw fa-2x yellow"></i>
                                </a>
                            </div>
                            <!-- Add New Materials -->
                        </div>
                    </div>
                </center>
            </div>
            <div class="row">
                <div class="col-xs-12">
                        <table class='table table-hover borde-tabla table-striped' id="tabla_empleados">

                            <thead>
                                <tr>
                                    <th class='text-center'>Nombre</th>
                                    <th class='text-center'>Cedula</th>
                                    <th class='text-center'>USBID</th>
                                    <th class='text-center'>Cargo</th>
                                    <th class='text-center'>Area</th>
                                    <th class='text-center'>Teléfono</th>
                                    <th class='text-center'>Editar</th>
                                </tr>
                            </thead>

                            <tbody>
                                {{ for x in filas: }}
                                {{ if x.estado=='Inactivo': }}
                                <tr class="inactive">
                                {{ else: }}
                                <tr>
                                {{ pass }}
                                    <td class='text-center'>{{=x.nombre}}</td>
                                    <td class='text-center'>{{=x.cedula}}</td>
                                    <td class='text-center'>{{=x.USBID}}</td>
                                    <td class='text-center'>{{=x.cargo}}</td>
                                    <td class='text-center'>{{=x.area.nombre_area}}</td>
                                    <td class='text-center'>{{=x.telefono}}</td>
                                    <td class='text-center'>
                                        <a href="/{{=request.application}}/{{=request.controller}}/modificar/{{=x.id}}"
                                           class="fa fa-lg fa-pencil-square-o yellow" title="Modificar {{=x.nombre}}"></a>
                                    </td>
                                </tr>
                                {{ pass }}
                            </tbody>

                        </table>
                    
                </div>
            </div>
            <br />
        </div>
    </div>
</div>

{{ end }}
